.sidenav {
  width: 200px;
  padding: 20px 0 20px 0;
}

.container {
  padding: 20px 20px 10px 20px
}

.filter-field {
  flex-grow: 1;
}

.filter-field > div {
  padding-bottom: 0px;
}

#map {
  flex-grow: 1; margin-top: 10px;
  min-height: 300px;
}
