<div style="min-width: 300px;">
  <h1 mat-dialog-title>Update Trip</h1>
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
    <p>Please update details the selected trip.</p>
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input matInput [(ngModel)]="trip.destination" matGoogleMapsAutocomplete
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
       (onLocationSelected)="onLocationSelected($event)">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start</mat-label>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="trip.startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End</mat-label>
      <input matInput [matDatepicker]="endPicker" [(ngModel)]="trip.endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input matInput [(ngModel)]="trip.comment">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="trip" cdkFocusInitial>Add</button>
  </div>
</div>
