<div fxLayout="column" class="full-height">
  <mat-toolbar color="primary" style="min-height: 64px;">
    <button mat-button routerLink="/">Travel plans</button>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="accountMenu">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>

<mat-menu #accountMenu="matMenu">
  <button mat-menu-item (click)="logOut()">Log out</button>
</mat-menu>
