<div style="min-width: 300px;">
  <h1 mat-dialog-title>Create User</h1>
  <div mat-dialog-content>
    <form [formGroup]="userForm" fxLayout="column" fxLayoutAlign="start stretch" (keyup.enter)="submit()">
      <p>Please populate user details.</p>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input name="username" matInput formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select name="role" formControlName="role">
          <mat-option *ngFor="let role of roles | async" [value]="role.value">
            {{role.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input name="password" matInput formControlName="password" type="password">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" [mat-dialog-close]="">Cancel</button>
    <button id="submit" mat-raised-button color="primary" [disabled]="userForm.invalid" [mat-dialog-close]="userForm.value" cdkFocusInitial>Add</button>
  </div>
</div>
